/* body
{
    background-color:rgb(239,228,176);
} */

header,footer
{
    /* background-color:rgb(227,209,121); */
    background-color:rgb(255,166,106);

}

section
{
    /* background-color:rgb(239,228,176); */
    background-color:rgb(255,198,159);
}


