body{
    background-color: rgb(255,198,159);
}

header, footer
{
    background-color:rgb(255,166,106);
}




@media screen and (max-width: 991px) {
    header li
    {   
        border-top:1px solid;
        padding-left:5px;
    }
    header ul{
        margin-top:10px;
    }
}