@font-face {
    font-family: 'scratchregular';
    src: url('font/web fonts/scratch_regular_macroman/Scratch_-webfont.eot');
    src: url('font/web fonts/scratch_regular_macroman/Scratch_-webfont.eot?#iefix') format('embedded-opentype'),
            url('font/web fonts/scratch_regular_macroman/Scratch_-webfont.woff') format('woff'),
            url('font/web fonts/scratch_regular_macroman/Scratch_-webfont.ttf') format('truetype'),
            url('font/web fonts/scratch_regular_macroman/Scratch_-webfont.svg#scratchregular') format('svg');
}

/* Gestion des couleurs de fonds d'écran */
body
{
    background-color: rgb(255,232,217);
}

header, footer
{
    background-color: rgb(255,211,183);
}

/* Barre de navigation */
nav span
{
    font-family: scratchregular, Arial, sans-serif;
    font-size: 1.5em;
}

nav i
{
    font-size: 1.2em;
}

nav li:last-child
{
    position: relative;
}

nav li div
{
    background-color: rgb(255,232,217);
    position: absolute;
    top: -3px;
    right: -3px;
    width: 22px;
    margin: 0px;
    padding: 0px;
}

nav li p
{
    margin: 0px;
    padding: 0px;
    font-size: small;
}

/* Paramètre des images */
section img
{
    border: 1px solid rgb(216, 216, 216);
    height: 350px;
}

/* Paramètre des cartes des produits */
.card
{
    box-shadow: 10px 5px 5px grey;
}

/* Taille du conteneur de la page index.html */
#catalogue .container-fluid
{
    width: 80%;
}

/* Taille du conteneur de la page produit.html */
#productSheet .container-fluid
{
    width: 30%;
}

/* Paramètre de la div contenant la question apparaissant après un ajout au panier */
#choiceBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
}

/* Configuration de la page panier.html*/
#basketSummary
{
    width: 30%;
}

#basketSummary img
{
    width: 100px;
    height: 100px;
}

td:last-child
{
    position: relative;
}

#validationForm label
{
    font-size:0.9em;
}

/* Gestion de la responsivité */
@media screen and (max-width: 1024px)
{
    section img
    {
        height: 55vw;
    }

    #basketSummary
    {
        width:90%;
    }
    #basketSummary img
    {
        width:100px;
        height:100px;
    }
}

@media screen and (max-width: 991px)
{
    #productSheet .container-fluid
    {
        width: 80%;
    }
    header li
    {   
        border-top:1px solid;
        padding-left:5px;
    }
    header ul
    {
        margin-top:10px;
    }
    nav div ul li div
    {
        top: 0px;
        left: 50px;
    }
}

@media screen and (min-width:1024px) and (max-width:1281px)
{
    section img
    {
        height: 25vw;
    }

    #catalogue .container-fluid
    {
        width:90%;
    }
}