body
{
    background-color: rgb(255,232,217);
}

header, footer
{
    background-color:rgb(255,211,183);
}

footer
{
    height: 50px;
}

section img
{
    border: 1px solid;
    height: 350px;
}

#catalogue .container-fluid
{
    width:80%;
}

#ficheProduit .container-fluid
{
    width: 30%;
}


@media screen and (max-width: 1024px)
{
    section img
    {
        height: 200px;
    }
}

/* -md */
@media screen and (max-width: 991px)
{
    header li
    {   
        border-top:1px solid;
        padding-left:5px;
    }
    header ul
   {
        margin-top:10px;
    }
    section img
    {
        height: 500px;
    }
    .container-fluid
    {
        width:100%;
    }
}
/* -sm */
/* @media screen and (max-width: 767px) {
    section img{
        height: 300px;
    }
} */
/* -xsm */
@media screen and (max-width: 575px)
{
    section img
    {
        height: 250px;
    }
}